.env*
!.env.example
service-account.json
*.secret.json

# Firebase/Build
.firebase/
functions/.webpack/
.next/

# TypeScript incremental build cache
*.tsbuildinfo
# Artefactos
*.log
.DS_Store
node_modules
